{
  "version": "1.0.3",
  "url": "https://github.com/imhzm/SkyWaveERB/releases/download/1.0.3/Sky.Wave.update_1.0.3.zip",
  "release_notes": "تحسينات في الأداء وإصلاح بعض الأخطاء",
  "release_date": "2024-12-03",
  "min_version": "1.0.3"
}
